.container-frases{
    padding: 24px 0px;
    margin-bottom: 20px;
    position: relative;
    width: 350px;
    height: 450px;
    &:hover .flip{
        transform: rotateY(180deg);
        transition: 0.8s ease-in-out;
    }
    
    .flip{
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transform-style: preserve-3d;
        transition: 0.8s;
        

        .card-frente, .card-tras{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            box-shadow:2px 2px 10px rgba(255, 255, 255, 0.185);
            backface-visibility: hidden;
        }
        .card-frente{
            
            
        }
        .card-tras{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url(../imagens/perguntas/fundo.jpg);
            transform: rotateY(180deg);
            p{
                width: 300px;
                text-align: center;
            }
        }
    }
}
.s{
    margin: 50px 0;
}
