#livros{
    margin-top: 24px;
    background-color: black;
    .livros-display{
        display: none;
        padding-top: 32px;
        .itens-livros{
            text-align: center;
            font-size: 1em;
            h2{
                color: white;
                font-family:Marcellus SC,Arial, Helvetica, sans-serif;
            }
        }
    }
}