#livros{
    
    background-color: black;
    .livros-display{
        .itens-livros{
            text-align: center;
            font-size: 1em;
            h2{
                color: white;
                font-family:Marcellus SC,Arial, Helvetica, sans-serif;
            }
        }
    }
}