.conteudo-mundo{
    border: 1px solid white;
    max-width: 1000px;
    margin: 10px auto;
    padding: 16px;
    h2{
        text-align: center;
        padding: 10px;
    }
    h3{
        padding: 5px;
    }
    color: white;
    .mapa{
        text-align: center;
        
        img{
            width: 60%;
        }
    }
}

.lista-principal{
    color: white;
    cursor: pointer;
    list-style: none;
    max-width: 1000px;
    margin: 10px auto;
    padding: 8px;
    border: 1px solid white;
    overflow: hidden;

    a{
        display: block;
        color: white;
        text-decoration: none;
    }
    li{
        display: inline-block;
        padding: 8px;
    }
    .sublista{
        display: none;
        position: absolute;
    }
}
.lista-principal li:hover >  .sublista{
    display: block;
    li{
        display: block;
    }
}




